<!-- <div style=" height:450px; overflow: scroll;">

    <h3>Listado</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Codigo de barras</th>
                <th scope="col">Departamento</th>
                <th scope="col">Marca</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productoService.list">
                <th scope="row">{{producto.idProducto}}</th>
                <td>{{producto.nombre}}</td>
                <td>{{producto.codigoBarras}}</td>
                <td>{{producto.departamento}}</td>
                <td>{{producto.marca}}</td>
                <td><i class="fa-regular fa-pen-to-square" (click)="actualizarProductoTS(producto)" style="color: #0080ff; cursor:pointer;"></i></td>
                <td><i class="fa-solid fa-trash-can" (click)="eliminarProductoTS(producto.idProducto)" style="color: #ff6060; cursor:pointer;"></i></td>
            </tr>

        </tbody>

    </table>

</div> -->


<div>
    <h2>Saldo del Cajero</h2>
    <p>El saldo actual del cajero es de: ${{ Saldo }}</p>
</div>
